name: Create Release

on:
push:
  tags:
    - 'v*.*.*'

# Give the GITHUB_TOKEN write access to contents (needed to create releases)
permissions:
contents: write

jobs:
build:
  runs-on: ubuntu-latest

  steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false